#SoldSimplyLogo {
	width: 200px;
	height: 200px;
	display: block;
    margin: 0 auto;
}

.mainbutton {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.mainbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.jumbotron {
	padding-top: 125px;
	padding-bottom: 125px;
	margin-left: 125px;
	margin-right: 125px;
	margin-top: 40px;
	align-items: center;
	background: url('../img/boxes.jpg');
    background-repeat: no-repeat;
	color: #ffffff;
	display: block;
	background-size: cover;
}

#pictureheader {
	text-align: center;
	font-size: 50px;
}

h1 {
	font-family: "Arial", Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-size: 20px auto;
	
}

li {
	float: center;
	display: inline-block;
    margin:5px auto;
    width:155px;
	
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
	padding-top: 10px;
	padding-bottom: 10px;
    text-decoration: none;
	font-size: auto;
}

li a:hover {
    background-color: #111;

}

ul {
	text-align: center;
	list-style-type: none;
    padding: 0;
	width: 100%;
	background-color: #ffffff;
}

a {
    background-color: #dddddd;
}

p {
	font-size: auto;
	font-family: "Arial", Sans-Serif;
}
.main {
	margin-left: 250px;
	margin-right:250px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px 5px;
	line-height: 200%;
}

.about {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffe6e6;
}

.howitworks {
	padding-top: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f2f2f2;
	line-height: 100%;
	text-align: center;
}

.whysoldsimply {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffe6e6;
}

.whatsells {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f2f2f2;
}

.pickup {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffe6e6;
}

#whatsellspic {
	background color: #ffffff;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.howitworkstext {
	text-align: center;
}

#googleforms {
	text-align: center;
}
